body {
    font-family: Alice, aliceblue;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: purple;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background: #8caee6
   
}

h1 {
    color: #2c3e50;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

img {
    width: 500px;
}